body {
    background: url(https://images.pexels.com/photos/1024613/pexels-photo-1024613.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand{
    font-size: 26px;
    background-color: teal;
    font-family: 'EB Garamond', serif;;
}

.col-bg{
    background-color: white;
    height: 90%
}

.contact-form{
    height: 90%;
}

h1{
    color: teal;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

form{
    height: 100%;
}

p {
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

.send{
    color: white;
    background-color: teal;
}

footer{
   border-top-style: solid;
   border-top-color: teal;
}